## **Q1:-**
### **What is a database? Differentiate between SQL and NoSQL databases.**

### **Ans:-**

### **A database is a collection of structured information that is usually stored electronically in a computer system. Databases can contain any type of data, including words, numbers, images, videos, and files.**

### **Data structure**
SQL databases are table-based, while NoSQL databases are non-relational.
### **Data types**
SQL databases are best used for structured data, while NoSQL databases are suitable for structured, semi-structured, and unstructured data.
### **Scalability**
SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
### **Data models**
SQL databases use tables with pre-defined schemas to store data, while NoSQL databases use flexible data models that can adapt to changes in data.
### **Transactions**
SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

## **Q2:-** 
### **What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.**

### **Ans:-**

### **DDL stands for Data Definition Language, and it is a subset of SQL (Structured Query Language) used to define and manage the structure of a relational database. DDL statements are responsible for defining and managing the database schema, including creating, modifying, and deleting database objects such as tables, indexes, and constraints.**

### **1.CREATE:**
Purpose: Used to create a new database object, such as a table, view, index, or schema.

In [18]:
# pip install mysql-connector-python

In [1]:
import mysql.connector

# Establish a connection to the MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="9336",
    database="collage"
)

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Execute a CREATE TABLE statement to create a new table 'employees'
create_query = """
    CREATE TABLE employees (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(100),
        age INT,
        department VARCHAR(100)
    )
"""
cursor.execute(create_query)
print("Table created successfully.")

# Close the cursor and connection
# cursor.close()
# conn.close()

Table created successfully.

### **3.ALTER:**

The ALTER command is used to modify the structure of an existing database object, such as adding or dropping columns.
The ALTER command is used to modify the structure of existing database objects such as tables.
Example: Adding a new column 'salary' to the 'employees' table.

In [2]:
# Establish a connection to the MySQL database (same as before)

# Create a cursor object to execute SQL commands (same as before)

# Execute an ALTER TABLE statement to add a new column 'salary' to the 'employees' table
alter_query = "ALTER TABLE employees ADD COLUMN salary DECIMAL(10, 2)"
cursor.execute(alter_query)
print("Table altered successfully.")

# Close the cursor and connection (same as before)

Table altered successfully.

### **4.TRUNCATE:**

The TRUNCATE command is used to remove all rows from a table while keeping its structure intact.

In [3]:
# Establish a connection to the MySQL database (same as before)

# Create a cursor object to execute SQL commands (same as before)

# Execute a TRUNCATE TABLE statement to remove all rows from the 'employees' table
truncate_query = "TRUNCATE TABLE employees"
cursor.execute(truncate_query)
print("Table truncated successfully.")

# Close the cursor and connection (same as before)

Table truncated successfully.

### **2.DROP:**

The DROP command is used to delete existing database objects.

In [4]:
# Establish a connection to the MySQL database (same as before)

# Create a cursor object to execute SQL commands (same as before)

# Execute a DROP TABLE statement to delete the 'employees' table
drop_query = "DROP TABLE employees"
cursor.execute(drop_query)
print("Table dropped successfully.")

# Close the cursor and connection (same as before)

Table dropped successfully.

## **Q3:-** 
### **What is DML? Explain INSERT, UPDATE, and DELETE with an example.**

### **Ans:-**

### **DML, or Data Manipulation Language, is a subset of SQL (Structured Query Language) used for managing and manipulating data stored in a database. In Python, you can use various database libraries to interact with databases and execute DML commands. Below are examples using the popular sqlite3 module, which is a built-in module for SQLite databases.**

#### **INSERT:**

The INSERT command is used to add new records (rows) to a table.

#### **UPDATE:**

The UPDATE command is used to modify existing records in a table.

#### **DELETE:**

The DELETE command is used to remove records from a table.

In [5]:
import mysql.connector

# Establish a connection to the MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="9336",
    database="test1"
)

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Example 1: INSERT
# Execute an INSERT statement to add a new record into the 'employees' table
insert_query = "INSERT INTO employees (name, age, department) VALUES (%s, %s, %s)"
data = ('John', 28, 'Marketing')
cursor.execute(insert_query, data)
conn.commit()
print("Record inserted successfully.")

# Example 2: UPDATE
# Execute an UPDATE statement to modify an existing record in the 'employees' table
update_query = "UPDATE employees SET department = %s WHERE name = %s"
new_department = 'Sales'
employee_name = 'John'
cursor.execute(update_query, (new_department, employee_name))
conn.commit()
print("Record updated successfully.")

# Example 3: DELETE
# Execute a DELETE statement to remove a record from the 'employees' table
delete_query = "DELETE FROM employees WHERE name = %s"
employee_name = 'John'
cursor.execute(delete_query, (employee_name,))
conn.commit()
print("Record deleted successfully.")

# Close the cursor and connection
cursor.close()
conn.close()

Record inserted successfully.
Record updated successfully.
Record deleted successfully.

## **Q4:-** 
### **What is DQL? Explain SELECT with an example.**

### **Ans:-**

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used for querying data from a database. The SELECT statement is a fundamental DQL command used to retrieve data from one or more tables in a database. Here's an example of using the SELECT statement in Python with MySQL database using the mysql.connector library:

In [6]:
import mysql.connector

# Establish a connection to the MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="9336",
    database="lab2"
)

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Execute a SELECT statement to retrieve data from the 'employees' table
query = "SELECT * FROM employees"
cursor.execute(query)

# Fetch all the rows returned by the SELECT statement
rows = cursor.fetchall()

# Print the retrieved data
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

(1, 'Davolio', 'Nancy', 'Sales Representative', 'Ms.', datetime.datetime(1948, 12, 8, 0, 0), datetime.datetime(1992, 5, 1, 0, 0), '507 - 20th Ave. E.Apt. 2A', 'Seattle', 'WA', '98122', 'USA', '(206) 555-9857', '5467', 'Education includes a BA in psychology from Colorado State University in 1970.  She also completed "The Art of the Cold Call."  Nancy is a member of Toastmasters International.', 2, 'http://accweb/emmployees/davolio.bmp', 2954.55)
(2, 'Fuller', 'Andrew', 'Vice President, Sales', 'Dr.', datetime.datetime(1952, 2, 19, 0, 0), datetime.datetime(1992, 8, 14, 0, 0), '908 W. Capital Way', 'Tacoma', 'WA', '98401', 'USA', '(206) 555-9482', '3457', 'Andrew received his BTS commercial in 1974 and a Ph.D. in international marketing from the University of Dallas in 1981.  He is fluent in French and Italian and reads German.  He joined the company as a sales representative, was promoted to sales manager in January 1992 and to vice president of sales in March 1993.  Andrew is a member of the Sales Management Roundtable, the Seattle Chamber of Commerce, and the Pacific Rim Importers Association.', None, 'http://accweb/emmployees/fuller.bmp', 2254.49)
(3, 'Leverling', 'Janet', 'Sales Representative', 'Ms.', datetime.datetime(1963, 8, 30, 0, 0), datetime.datetime(1992, 4, 1, 0, 0), '722 Moss Bay Blvd.', 'Kirkland', 'WA', '98033', 'USA', '(206) 555-3412', '3355', 'Janet has a BS degree in chemistry from Boston College (1984).  She has also completed a certificate program in food retailing management.  Janet was hired as a sales associate in 1991 and promoted to sales representative in February 1992.', 2, 'http://accweb/emmployees/leverling.bmp', 3119.15)
(4, 'Peacock', 'Margaret', 'Sales Representative', 'Mrs.', datetime.datetime(1937, 9, 19, 0, 0), datetime.datetime(1993, 5, 3, 0, 0), '4110 Old Redmond Rd.', 'Redmond', 'WA', '98052', 'USA', '(206) 555-8122', '5176', 'Margaret holds a BA in English literature from Concordia College (1958) and an MA from the American Institute of Culinary Arts (1966).  She was assigned to the London office temporarily from July through November 1992.', 2, 'http://accweb/emmployees/peacock.bmp', 1861.08)
(5, 'Buchanan', 'Steven', 'Sales Manager', 'Mr.', datetime.datetime(1955, 3, 4, 0, 0), datetime.datetime(1993, 10, 17, 0, 0), '14 Garrett Hill', 'London', None, 'SW1 8JR', 'UK', '(71) 555-4848', '3453', 'Steven Buchanan graduated from St. Andrews University, Scotland, with a BSC degree in 1976.  Upon joining the company as a sales representative in 1992, he spent 6 months in an orientation program at the Seattle office and then returned to his permanent post in London.  He was promoted to sales manager in March 1993.  Mr. Buchanan has completed the courses "Successful Telemarketing" and "International Sales Management."  He is fluent in French.', 2, 'http://accweb/emmployees/buchanan.bmp', 1744.21)
(6, 'Suyama', 'Michael', 'Sales Representative', 'Mr.', datetime.datetime(1963, 7, 2, 0, 0), datetime.datetime(1993, 10, 17, 0, 0), 'Coventry House\r\nMiner Rd.', 'London', None, 'EC2 7JR', 'UK', '(71) 555-7773', '428', 'Michael is a graduate of Sussex University (MA, economics, 1983) and the University of California at Los Angeles (MBA, marketing, 1986).  He has also taken the courses "Multi-Cultural Selling" and "Time Management for the Sales Professional."  He is fluent in Japanese and can read and write French, Portuguese, and Spanish.', 5, 'http://accweb/emmployees/davolio.bmp', 2004.07)
(7, 'King', 'Robert', 'Sales Representative', 'Mr.', datetime.datetime(1960, 5, 29, 0, 0), datetime.datetime(1994, 1, 2, 0, 0), 'Edgeham Hollow\r\nWinchester Way', 'London', None, 'RG1 9SP', 'UK', '(71) 555-5598', '465', 'Robert King served in the Peace Corps and traveled extensively before completing his degree in English at the University of Michigan in 1992, the year he joined the company.  After completing a course entitled "Selling in Europe," he was transferred to the London office in March 1993.', 5, 'http://accweb/emmployees/davolio.bmp', 1991.55)
(8, 'Callahan', 'Laura', 'Inside Sales Coordinator', 'Ms.', datetime.datetime(1958, 1, 9, 0, 0), datetime.datetime(1994, 3, 5, 0, 0), '4726 - 11th Ave. N.E.', 'Seattle', 'WA', '98105', 'USA', '(206) 555-1189', '2344', 'Laura received a BA in psychology from the University of Washington.  She has also completed a course in business French.  She reads and writes French.', 2, 'http://accweb/emmployees/davolio.bmp', 2100.5)
(9, 'Dodsworth', 'Anne', 'Sales Representative', 'Ms.', datetime.datetime(1966, 1, 27, 0, 0), datetime.datetime(1994, 11, 15, 0, 0), '7 Houndstooth Rd.', 'London', None, 'WG2 7LT', 'UK', '(71) 555-4444', '452', 'Anne has a BA degree in English from St. Lawrence College.  She is fluent in French and German.', 5, 'http://accweb/emmployees/davolio.bmp', 2333.33)

## **Q5:-**
### **Explain Primary Key and Foreign Key.**

### **Ans:-**

### **Primary Key:-**

#### A Primary Key is a column or a set of columns in a table that uniquely identifies each row or record in that table.
#### It must contain unique values for each row, and it cannot contain NULL values (although some database systems allow a composite primary key with NULL values if only part of the key is NULL).
#### By defining a Primary Key, you ensure that each record in a table can be uniquely identified.
#### Typically, Primary Keys are chosen from attributes that are unique and never change, such as an ID number, username, or email address.
#### In most database management systems (DBMS), Primary Keys are automatically indexed, which improves the search performance for data retrieval.

### **Foreign Key:-**

#### A Foreign Key is a column or a set of columns in a table that establishes a relationship with the Primary Key or a Unique Key in another table.
#### It helps maintain referential integrity by enforcing a link between the data in two tables.
#### The values in the Foreign Key column(s) must match the values in the Primary Key or Unique Key column(s) in the referenced table.
#### Foreign Keys ensure that rows in one table correspond to rows in another table. For example, in a database of students and courses, a Foreign Key in the "Students" table might reference the Primary Key in the "Courses" table, indicating which course each student is enrolled in.
#### It's not mandatory for a Foreign Key to be unique, meaning multiple rows in the referencing table can have the same Foreign Key value.
#### When a Foreign Key is defined, constraints can be applied to ensure that data integrity is maintained, such as preventing the deletion of a record in the referenced table if there are corresponding records in the referencing table (this is known as referential integrity)

## **Q6:-** 
### **Write a python code to connect MySQL to python. Explain the cursor() and execute() method.**

### **Ans:-

In [7]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="9336",
    database="lab2"
    
)
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000251CC007FD0>
('abhishek',)
('collage',)
('college',)
('information_schema',)
('lab2',)
('mysql',)
('performance_schema',)
('sys',)
('test1',)
('testdb',)

## **Q7:-** 
### **Give the order of execution of SQL clauses in an SQL query.**

### **Ans:-**

### **The order of execution of SQL clauses in an SQL query generally follows the sequence outlined below:**

#### FROM: Specifies the table or tables from which to retrieve data.

#### JOIN: Combines rows from two or more tables based on a related column between them. The JOIN clause is part of the FROM clause and is used to join tables.

#### WHERE: Filters rows based on specified conditions. It is used to extract only those records that fulfill the specified criteria.

#### GROUP BY: Groups rows that have the same values into summary rows, often used with aggregate functions like COUNT, SUM, AVG, etc.

#### HAVING: Filters groups based on specified conditions. It is similar to the WHERE clause but is used with aggregate functions when filtering groups.

#### SELECT: Specifies the columns to be retrieved from the tables. It is one of the last clauses to be executed.

#### DISTINCT: Removes duplicate records from the result set.

#### ORDER BY: Sorts the result set based on specified columns and their sort order.

#### LIMIT/OFFSET or FETCH FIRST: Limits the number of rows returned by the query.