# **Assignment**
## **Consider following code to answer further questions:**
### **import pandas as pd**
### **course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]**
### **duration = [2,3,6,4]**
### **df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})**

In [1]:
import pandas as pd
course_name =['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration=[2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

## **Q1:-** 
### **Write a code to print the data present in the second row of the dataframe, df.**

In [2]:
df[["course_name","duration"]][1:2]

        course_name  duration
1  Machine Learning         3

## **Q2:-**  
### **What is the difference between the functions loc and iloc in pandas.DataFrame?**

### **loc is primarily used for label indexing, while . iloc is mainly used for integer indexing.**

In [3]:
df.loc[0:2,["course_name","duration"]]

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [4]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

## **Q3:-**  
### **Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].**

### **Did you observe any difference in both the outputs? If so then explain it.**
### **Consider the below code to answer further questions:**
#### import pandas as pd
#### import numpy as np
#### columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
#### indices = [1,2,3,4,5,6]
### #Creating a dataframe:
#### df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [5]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.071442  0.660269  0.206073  0.836177  0.216710  0.385932
2  0.101849  0.057144  0.515240  0.973844  0.245410  0.612848
3  0.556704  0.348045  0.252444  0.930358  0.649202  0.252465
4  0.671496  0.359130  0.373534  0.674962  0.266451  0.511250
5  0.423415  0.054038  0.563679  0.603572  0.833964  0.523038
6  0.978330  0.306697  0.462990  0.533804  0.829402  0.972114

In [6]:
new_df=df1.reindex([3,0,1,2])
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.556704  0.348045  0.252444  0.930358  0.649202  0.252465
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.071442  0.660269  0.206073  0.836177  0.216710  0.385932
2  0.101849  0.057144  0.515240  0.973844  0.245410  0.612848

In [20]:
new_df.loc[2]

column_1    0.037214
column_2    0.788682
column_3    0.721003
column_4    0.368228
column_5    0.998540
column_6    0.797260
Name: 2, dtype: float64

In [7]:
new_df.iloc[2]

column_1    0.071442
column_2    0.660269
column_3    0.206073
column_4    0.836177
column_5    0.216710
column_6    0.385932
Name: 1, dtype: float64

## **Q4:-** 
### **Write a code to find the following statistical measurements for the above dataframe df1:**
### **(i) mean of each and every column present in the dataframe.**

In [8]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.071442  0.660269  0.206073  0.836177  0.216710  0.385932
2  0.101849  0.057144  0.515240  0.973844  0.245410  0.612848
3  0.556704  0.348045  0.252444  0.930358  0.649202  0.252465
4  0.671496  0.359130  0.373534  0.674962  0.266451  0.511250
5  0.423415  0.054038  0.563679  0.603572  0.833964  0.523038
6  0.978330  0.306697  0.462990  0.533804  0.829402  0.972114

In [9]:
print("Mean is:",df1.mean())

Mean is: column_1    0.467206
column_2    0.297554
column_3    0.395660
column_4    0.758786
column_5    0.506857
column_6    0.542941
dtype: float64

### **(ii) standard deviation of column, ‘column_2’**

In [10]:
print(f"Standard deviation :",df1["column_2"].std())

Standard deviation : 0.22586871252867746

## **Q5:-** 
### **Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.**
### **If you are getting errors in executing it then explain why.**
##### **[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]**

In [11]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.071442  0.660269  0.206073  0.836177  0.216710  0.385932
2  0.101849  0.057144  0.515240  0.973844  0.245410  0.612848
3  0.556704  0.348045  0.252444  0.930358  0.649202  0.252465
4  0.671496  0.359130  0.373534  0.674962  0.266451  0.511250
5  0.423415  0.054038  0.563679  0.603572  0.833964  0.523038
6  0.978330  0.306697  0.462990  0.533804  0.829402  0.972114

In [12]:
replacement_string="Abhishek"
df1.loc[2:2,["column_2"]]=replacement_string
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.071442  0.660269  0.206073  0.836177  0.216710  0.385932
2  0.101849  Abhishek  0.515240  0.973844  0.245410  0.612848
3  0.556704  0.348045  0.252444  0.930358  0.649202  0.252465
4  0.671496   0.35913  0.373534  0.674962  0.266451  0.511250
5  0.423415  0.054038  0.563679  0.603572  0.833964  0.523038
6  0.978330  0.306697  0.462990  0.533804  0.829402  0.972114

### **unsupported operand type(s) for +: 'float' and 'str**

In [13]:
df1["column_2"].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

## **Q6:-** 
### **What do you understand about the windows function in pandas and list the types of windows functions?**

### **Ans:-**

### **Windows function in Pandas can be broadly divided into three categories namely- Aggregate, Ranking, and Value. The group by aggregate function can be used to partition and group the entire data frame by some column. We can specify the column name in the parameter of the pandas.**

## **Q7:-** 
### **Write a code to print only the current month and year at the time of answering this question.**
#### **[Hint: Use pandas.datetime function]**

In [14]:
from datetime import date
import pandas as pd
todays_date = date.today()
time={
"Year":[todays_date.year],
"Month":[todays_date.month],
"Day":[todays_date.day]}
pd.DataFrame(time)

   Year  Month  Day
0  2023      9   14

## **Q8:-**
### **Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.**

In [15]:
import pandas as pd
def calculate_time_difference(start_date, end_date):
    try:
        start_date = pd.to_datetime(start_date)
        end_date = pd.to_datetime(end_date)
        time_difference = end_date - start_date
        days = time_difference.days
        hours, remainder = divmod(time_difference.seconds, 3600)
        minutes = remainder // 60
        return days, hours, minutes
    except ValueError:
        return None

start_date_input = input("Enter the start date (YYYY-MM-DD): ")
end_date_input = input("Enter the end date (YYYY-MM-DD): ")

result = calculate_time_difference(start_date_input, end_date_input)

if result is not None:
    days, hours, minutes = result
    print(f"Time difference: {days} days, {hours} hours, {minutes} minutes")
else:
    print("Invalid date format. Please use the format YYYY-MM-DD.")

Time difference: 1107 days, 0 hours, 0 minutes

## **Q9:-** 
### **Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.**

In [ ]:
import pandas as pd
def process_csv_file(file_path, column_name, category_order):
    try:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)

        # Convert the specified column to categorical with custom category order
        df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

        # Sort the DataFrame by the categorical column
        sorted_df = df.sort_values(by=column_name)

        # Display the sorted data
        print(sorted_df)

    except FileNotFoundError:
        print("File not found.")
    except KeyError:
        print("Column not found in the CSV file.")
    except ValueError:
        print("Invalid category order format.")
file_path = input("Enter the CSV file path: ")
column_name = input("Enter the column name to convert to categorical: ")
category_order = input("Enter the category order (comma-separated): ").split(',')
process_csv_file(file_path, column_name, category_order)

     label    x   y
0        2  NaN  81
1        1  NaN  12
2        2  NaN  80
3        2  NaN  64
4        2  NaN  64
..     ...  ...  ..
195      1  NaN  31
196      2  NaN  68
197      2  NaN  93
198      2  NaN  73
199      2  NaN  62

[200 rows x 3 columns]

## **Q10:-**
### **Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.**

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
def visualize_sales_data(file_path):
    try:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)

        # Assuming your CSV file has columns like 'Date', 'Product_Category', 'Sales'
        # You may need to adjust column names as per your data
        df['Date'] = pd.to_datetime(df['Date'])  # Convert 'Date' column to datetime

        # Pivot the DataFrame to create a pivot table for the stacked bar chart
        pivot_table = df.pivot_table(values='Sales', index='Date', columns='Product_Category', aggfunc='sum', fill_value=0)

        # Create a stacked bar chart
        pivot_table.plot(kind='bar', stacked=True, figsize=(12, 6))

        # Add labels and title
        plt.xlabel('Date')
        plt.ylabel('Sales')
        plt.title('Sales by Product Category Over Time')

        # Show the chart
        plt.legend(title='Product Category')
        plt.show()

    except FileNotFoundError:
        print("File not found.")
file_path = input("Enter the CSV file path: ")
visualize_sales_data()

File not found.

Q11.
### **You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table. The program should do the following**
#### **I Prompt the user to enter the file path of the CSV file containing the student data**
#### **I Read the CSV file into a Pandas DataFrameR**
#### **I Calculate the mean, median, and mode of the test scores using Pandas tools**
#### **I Display the mean, median, and mode in a table.**
#### **Assume the CSV file contains the following columns**
#### **I Student ID: The ID of the student**
#### **I Test Score: The score of the student's test.**
#### **Example usage of the program:**
#### **Enter the file path of the CSV file containing the student data: student_data.csv**
#### **+-----------+--------+**
#### **| Statistic | Value |**
#### **+-----------+--------+**
#### **| Mean | 79.6 |**
#### **| Median | 82 |**
#### **| Mode | 85, 90 |**
#### **+-----------+--------+**
#### **Assume that the CSV file student_data.csv contains the following data:**
#### **Student ID,Test Score**
#### **1,85**
#### **2,90**
#### **3,80**
#### **4,75**
#### **5,85**
#### **6,82**
#### **7,78**
#### **8,85**
#### **9,90**
#### **10,85**
#### **The program should calculate the mean, median, and mode of the test scores and display the results in a table.**

In [ ]:
import pandas as pd

# Function to calculate mean, median, and mode
def calculate_stats(data_frame):
    try:
        # Calculate mean
        mean = data_frame['Test_Score'].mean()

        # Calculate median
        median = data_frame['Test_Score'].median()

        # Calculate mode (returns a Series)
        mode = data_frame['Test_Score'].mode()

        return mean, median, mode

    except KeyError:
        print("Invalid column name. Ensure that the CSV file contains a 'Test_Score' column.")
        return None, None, None

# Prompt the user for input
file_path = input("Enter the file path of the CSV file containing student data: ")

try:
    # Read the CSV file into a Pandas DataFrame
    df = pd.read_csv(file_path)

    # Calculate mean, median, and mode
    mean, median, mode = calculate_stats(df)

    # Display the results in a table
    if mean is not None and median is not None and not mode.empty:
        result_df = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'],
        'Value': [mean, median, mode.iloc[0]]})
        print(result_df)
    else:
        print("Unable to calculate statistics.")

except FileNotFoundError:
    print("File not found. Please enter a valid file path.")

File not found. Please enter a valid file path.